
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="<%= root_path %>">

    <%= cl_image_tag("gsy7jxjejkadxuhuewv3", :class => "d-inline-block align-top logo") %>

  </a>
</nav>
